{% extends "view_base.html" %}
{% load static %}
{% load interfacetags %}

{% block inner_content %}
  <tbody>
    {% for obj in page_obj %}
    <tr>
      <th class="lead">{{ forloop.counter }}</th>
      <th class="lead">{{ obj.material_sample_id }}</th>
      <th class="lead">{{ obj.location_id }}</th>
      <th class="lead">{{ obj.decimal_latitude }}</th>
      <th class="lead">{{ obj.decimal_longitude }}</th>
      <th class="lead">{{ obj.elevation_in_meters }}</th>
      <th class="lead">{{ obj.barometric_elevation_in_meters }}</th>
      <th class="lead">{{ obj.verbatim_locality }}</th>
      <th class="lead">{{ obj.field_mission_id }}</th>
      <th class="lead">{{ obj.analysed_by }}</th>
      <th class="lead">{{ obj.sampling_date }}</th>
      <th class="lead">{{ obj.simple_lithology_description }}</th>
      <th class="lead">{{ obj.alteration_facies }}</th>
      <th class="lead">{{ obj.metamorphism_facies }}</th>
      <th class="lead">{{ obj.formation }}</th>
      <th class="lead">{{ obj.current_storage }}</th>
      <th class="lead">{{ obj.comment }}</th>
      <th class="lead">{{ obj.number_4he_nccstp_g_field }}</th>
      <th class="lead">{{ obj.number_238_u_ppm_field }}</th>
      <th class="lead">{{ obj.number_232_th_ppm_field }}</th>
      <th class="lead">{{ obj.number_147_sm_ppm_field }}</th>
      <th class="lead">{{ obj.eu_ppm_field }}</th>
      <th class="lead">{{ obj.ft }}</th>
      <th class="lead">{{ obj.th_u }}</th>
      <th class="lead">{{ obj.measured_age_ma_field }}</th>
      <th class="lead">{{ obj.number_1s_measured_age_ma_field }}</th>
      <th class="lead">{{ obj.corrected_age_ma_field }}</th>
      <th class="lead">{{ obj.number_1s_corrected_age_ma_field }}</th>
      <th class="lead">{{ obj.mean_age_ma_field }}</th>
      <th class="lead">{{ obj.number_1s_mean_age_ma_field }}</th>
      <th class="lead">{{ obj.location_on_gis }}</th>
    </tr>
  {% endfor %}
</tbody>
{% endblock %}
      