{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row my-5">
      <div class="col-6 mx-auto text-center">
          <h1 class="h1">Sample Data</h1>
      </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">AnalysisAr</a>
      <a class="dropdown-item" href="#">AnalysisFt</a>
      <a class="dropdown-item" href="#">AnalysisUhe</a>
    </div>
  </div>

    <table class="table table-striped my-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Material Sample ID</th>
          <th scope="col">Sampling Location ID</th>
          <th scope="col">Sample Type</th>
          <th scope="col">First Sample Aim</th>
          <th scope="col">Second Sample Aim</th>
          <th scope="col">Associated Lithologic Observation</th>
          <th scope="col">Associated Formation</th>
          <th scope="col">Associated Measure ID</th>
          <th scope="col">Sampling Date</th>
          <th scope="col">Sampled By</th>
          <th scope="col">Sample Remarks</th>
          <th scope="col">Storage</th>
          <th scope="col">Igsn</th>
        </tr>
      </thead>
      <tbody>
        {% for sample in page_obj %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ sample.material_sample_id }}</td>
          <td>{{ sample.sampling_location_id }}</td>
          <td>{{ sample.sample_type }}</td>
          <td>{{ sample.first_sample_aim }}</td>
          <td>{{ sample.second_sample_aim }}</td>
          <td>{{ sample.associated_lithologic_observation }}</td>
          <td>{{ sample.associated_formation }}</td>
          <td>{{ sample.associated_measure_id }}</td>
          <td>{{ sample.sampling_date }}</td>
          <td>{{ sample.sampled_by }}</td>
          <td>{{ sample.sample_remarks }}</td>
          <td>{{ sample.storage }}</td>
          <td>{{ sample.igsn }}</td>

        </tr>
      {% endfor %}
        
      </tbody>
    </table>

    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}