{% extends "view_base.html" %}
{% load static %}
{% load interfacetags %}

{% block inner_content %}
  <tbody>
    {% for obj in page_obj %}
    <tr>
      <th scope="row">{{ obj.contact_id }}</th>
      <td>{{ obj.location_id }}</td>
      <td>{{ obj.contact_type }}</td>
      <td>{{ obj.associated_lithologic_observation_1 }}</td>
      <td>{{ obj.associated_lithologic_observation_2 }}</td>
      <td>{{ obj.associated_measured_plane_id }}</td>
      <td>{{ obj.contact_type_remarks }}</td>
      <td>{{ obj.observation_determined_by }}</td>
      <td>{{ obj.observation_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock %}
      