{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row my-5">
      <div class="col-6 mx-auto text-center">
          <h1 class="h1">Sample Data</h1>
      </div>
  </div>

  <div class="row">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Models
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'INTERFACE:sample_model' %}">Samples</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:contacts_model' %}">Contacts</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:lexicon_follies_model' %}">LexiconFossils</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Views
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'INTERFACE:field_missions_view' %}">Geometry Columns</a>
      </div>
    </div>
  </div>

    <table class="table table-striped my-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">contact_id</th>
          <th scope="col">location_id</th>
          <th scope="col">contact_type</th>
          <th scope="col">associated_lithologic_observation_1</th>
          <th scope="col">associated_lithologic_observation_2</th>
          <th scope="col">associated_measured_plane_id</th>
          <th scope="col">contact_type_remarks</th>
          <th scope="col">observation_determined_by</th>
          <th scope="col">observation_date</th>

        </tr>
      </thead>
      <tbody>
        {% for contact in page_obj %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ contact.contact_id }}</td>
          <td>{{ contact.location_id }}</td>
          <td>{{ contact.contact_type }}</td>
          <td>{{ contact.associated_lithologic_observation_1 }}</td>
          <td>{{ contact.associated_lithologic_observation_2 }}</td>
          <td>{{ contact.associated_measured_plane_id }}</td>
          <td>{{ contact.contact_type_remarks }}</td>
          <td>{{ contact.observation_determined_by }}</td>
          <td>{{ contact.observation_date }}</td>
        </tr>
      {% endfor %}
        
      </tbody>
    </table>

    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}