{% extends "view_base.html" %}
{% load static %}
{% load interfacetags %}

{% block inner_content %}
  <tbody>
    {% for obj in page_obj %}
    <tr>
      <th class="lead">{{ forloop.counter }}</th>
      <th class="lead">{{ obj.location_id }}</th>
      <th class="lead">{{ obj.contact_type }}</th>
      <th class="lead">{{ obj.associated_lithologic_observation_1 }}</th>
      <th class="lead">{{ obj.associated_lithologic_observation_2 }}</th>
      <th class="lead">{{ obj.associated_measured_plane_id }}</th>
      <th class="lead">{{ obj.contact_type_remarks }}</th>
      <th class="lead">{{ obj.observation_determined_by }}</th>
      <th class="lead">{{ obj.observation_date }}</th>
    </tr>
  {% endfor %}
</tbody>
{% endblock %}
      