{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row my-5">
        <div class="col-6 mx-auto text-center">
            <h1 class="h1">We'll display the data here</h1>
        </div>
    </div>

    {% for sample in samples %}
      <p>{{sample.first_sample_aim}}</p>
    {% endfor %}

    <table class="table my-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">All</th>
            <th scope="col">The</th>
            <th scope="col">Data</th>
            <th scope="col">We</th>
            <th scope="col">Want</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Great</td>
            <td>Times</td>
            <td>Are</td>
            <td>Surely</td>
            <td>Ahead</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>We</td>
            <td>Will</td>
            <td>Get</td>
            <td>There</td>
            <td>Fast</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Don't</td>
            <td>You</td>
            <td>Worry</td>
            <td>Good</td>
            <td>Sir</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}