{% extends "view_base.html" %}
{% load static %}
{% load interfacetags %}

{% block inner_content %}
  <tbody>
    {% for obj in page_obj %}
    <tr>
      <th class="lead">{{ obj.mission_name }}</th>
      <th class="lead">{{ obj.regional_place }}</th>
      <th class="lead">{{ obj.start_date }}</th>
      <th class="lead">{{ obj.end_date }}</th>
      <th class="lead">{{ obj.stations_range }}</th>
      <th class="lead">{{ obj.samples_range }}</th>
      <th class="lead">{{ obj.participants }}</th>
      <th class="lead">{{ obj.field_notebooks }}</th>
      <th class="lead">{{ obj.associated_project }}</th>
    </tr>
  {% endfor %}
</tbody>
{% endblock %}
      