{% extends "view_base.html" %}
{% load static %}
{% load interfacetags %}

{% block inner_content %}
  <tbody>
    {% for obj in page_obj %}
    <tr>
      <th class="lead">{{ forloop.counter }}</th>
      <th class="lead">{{ obj.formation_full_name }}</th>
      <th class="lead">{{ obj.detailled_description }}</th>
      <th class="lead">{{ obj.latest_age_or_highest_stage }}</th>
      <th class="lead">{{ obj.earliest_age_or_lowest_stage }}</th>
    </tr>
  {% endfor %}
</tbody>
{% endblock %}
      