{% extends "view_base.html" %}
{% load static %}
{% load interfacetags %}

{% block inner_content %}
  <tbody>
    {% for obj in page_obj %}
    <tr>
      <th class="lead">{{ forloop.counter }}</th>
      <th class="lead">{{ obj.location_id }}</th>
      <th class="lead">{{ obj.simple_lithology_description }}</th>
      <th class="lead">{{ obj.detailled_lithology_description }}</th>
      <th class="lead">{{ obj.formation }}</th>
      <th class="lead">{{ obj.alteration_facies }}</th>
      <th class="lead">{{ obj.metamorphism_facies }}</th>
      <th class="lead">{{ obj.particle_type }}</th>
      <th class="lead">{{ obj.particle_shape }}</th>
      <th class="lead">{{ obj.rock_texture }}</th>
      <th class="lead">{{ obj.color_rock_patina }}</th>
      <th class="lead">{{ obj.color_rock_into_break }}</th>
      <th class="lead">{{ obj.fossils }}</th>
      <th class="lead">{{ obj.deformation }}</th>
      <th class="lead">{{ obj.minerals_assemblages }}</th>
      <th class="lead">{{ obj.lithologic_description_determined_by }}</th>
      <th class="lead">{{ obj.lithology_remarks }}</th>
    </tr>
  {% endfor %}
</tbody>
{% endblock %}
      