{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        {{ m|safe }}
    </div>
</div>

<div class="row">
    {% for location in locations %}
        <a href="{% url 'INTERFACE:location_data' location.location_id %}">Link</a>
    {% endfor %}
</div>

<script type="text/javascript">
    
    function myFunction(event) {
        id = event.currentTarget.getAttribute("data-id");
    }

    elements = document.getElementsByClassName("pop-id");

    for (element of elements) {
        element.addEventListener("click", myFunction(event));
    }
</script>
{% endblock%}