{% extends "view_base.html" %}
{% load static %}
{% load interfacetags %}

{% block inner_content %}
  <tbody>
    {% for obj in page_obj %}
    <tr>
      <th class="lead">{{ forloop.counter }}</th>
      <th class="lead">{{ obj.location_id }}</th>
      <th class="lead">{{ obj.decimal_longitude }}</th>
      <th class="lead">{{ obj.decimal_latitude }}</th>
      <th class="lead">{{ obj.geodetic_datum }}</th>
      <th class="lead">{{ obj.northing_in_meters }}</th>
      <th class="lead">{{ obj.easting_in_meters }}</th>
      <th class="lead">{{ obj.georeferenced_by }}</th>
      <th class="lead">{{ obj.elevation_in_meters }}</th>
      <th class="lead">{{ obj.barometric_elevation_in_meters }}</th>
      <th class="lead">{{ obj.georeferenced_local_date }}</th>
      <th class="lead">{{ obj.georeferenced_local_time }}</th>
      <th class="lead">{{ obj.time_zone }}</th>
      <th class="lead">{{ obj.verbatim_locality }}</th>
      <th class="lead">{{ obj.mission_detailled_name }}</th>
      <th class="lead">{{ obj.formation_full_name }}</th>
      <th class="lead">{{ obj.line_type }}</th>
      <th class="lead">{{ obj.trend }}</th>
      <th class="lead">{{ obj.plunge }}</th>
      <th class="lead">{{ obj.fault_movement_sense }}</th>
      <th class="lead">{{ obj.measurement_accuracy }}</th>
      <th class="lead">{{ obj.measurement_determined_date }}</th>
      <th class="lead">{{ obj.measurement_determined_by }}</th>
      <th class="lead">{{ obj.instrument_id }}</th>
      <th class="lead">{{ obj.location_on_gis }}</th>
    </tr>
  {% endfor %}
</tbody>
{% endblock %}
      