{% extends "view_base.html" %}
{% load static %}
{% load interfacetags %}

{% block inner_content %}
  <tbody>
    {% for obj in page_obj %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ obj.material_sample_id }}</td>
        <td>{{ obj.sampling_location_id }}</td>
        <td>{{ obj.sample_type }}</td>
        <td>{{ obj.first_sample_aim }}</td>
        <td>{{ obj.second_sample_aim }}</td>
        <td>{{ obj.associated_lithologic_observation }}</td>
        <td>{{ obj.associated_formation }}</td>
        <td>{{ obj.associated_measure_id }}</td>
        <td>{{ obj.sampling_date }}</td>
        <td>{{ obj.sampled_by }}</td>
        <td>{{ obj.sample_remarks }}</td>
        <td>{{ obj.storage }}</td>
        <td>{{ obj.igsn }}</td>

      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
      