{% extends "view_base.html" %}
{% load static %}
{% load interfacetags %}

{% block inner_content %}
<tbody>
  {% for obj in page_obj %}
  <tr>
    <th class="lead">{{ obj.material_sample_id }}</th>
    <th class="lead">{{ obj.location_id }}</th>
    <th class="lead">{{ obj.decimal_longitude }}</th>
    <th class="lead">{{ obj.decimal_latitude }}</th>
    <th class="lead">{{ obj.geodetic_datum }}</th>
    <th class="lead">{{ obj.northing_in_meters }}</th>
    <th class="lead">{{ obj.easting_in_meters }}</th>
    <th class="lead">{{ obj.georeferenced_by }}</th>
    <th class="lead">{{ obj.elevation_in_meters }}</th>
    <th class="lead">{{ obj.barometric_elevation_in_meters }}</th>
    <th class="lead">{{ obj.georeferenced_local_date }}</th>
    <th class="lead">{{ obj.georeferenced_local_time }}</th>
    <th class="lead">{{ obj.time_zone }}</th>
    <th class="lead">{{ obj.verbatim_locality }}</th>
    <th class="lead">{{ obj.mission_detailled_name }}</th>
    <th class="lead">{{ obj.sampling_date }}</th>
    <th class="lead">{{ obj.sample_type }}</th>
    <th class="lead">{{ obj.first_sample_aim }}</th>
    <th class="lead">{{ obj.second_sample_aim }}</th>
    <th class="lead">{{ obj.lithology_description }}</th>
    <th class="lead">{{ obj.alteration_facies }}</th>
    <th class="lead">{{ obj.metamorphism_facies }}</th>
    <th class="lead">{{ obj.formation }}</th>
    <th class="lead">{{ obj.plane_type }}</th>
    <th class="lead">{{ obj.plane_orientation }}</th>
    <th class="lead">{{ obj.line_type }}</th>
    <th class="lead">{{ obj.line_orientation }}</th>
    <th class="lead">{{ obj.comment }}</th>
    <th class="lead">{{ obj.current_storage }}</th>
    <th class="lead">{{ obj.location_on_gis }}</th>
  </tr>
{% endfor %}
  
</tbody>
{% endblock %}