{% extends "base.html" %}
{% load static %}
{% load interfacetags %}

{% block content %}
<div class="container">
  <div class="row my-5">
      <div class="col-6 mx-auto text-center">
          <h1 class="h1">
            {% for object in page_obj %}
              {% if forloop.counter == 1 %}
                {{ object | to_class_name }} Data
              {% endif %}
            {% endfor %}
          </h1>
      </div>
  </div>

  <div class="row">
    <div class="dropdown px-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Models
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'INTERFACE:sample_model' %}">Samples</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:contacts_model' %}">Contacts</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:lexicon_follies_model' %}">LexiconFossils</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Views
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'INTERFACE:formation_view' %}">Formation</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:field_missions_view' %}">Field Missions</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:analysis_ar_ar_view' %}">Analysis AR/AR</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:analysis_fission_tracks_view' %}">Analysis Fission Tracks</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:contacts_view' %}">Contacts</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:analysis_UHe_view' %}">Analysis U/HE</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:lithology_description_view' %}">Lithology Description</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:location_view' %}">Location</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:measurements_lines_view' %}">Measurement Lines</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:measurements_planes_view' %}">Measurement Planes</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:missions_view' %}">Missions</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:sample_sections_view' %}">Sample Sections</a>
        <a class="dropdown-item" href="{% url 'INTERFACE:samples_view' %}">Samples</a>
      </div>
    </div>
  </div>

  <table class="table table-striped my-5">
    <thead>
      <tr>
        {% for field in fields %}
        <th scope="col">{{ field }}</th>
        {% endfor %}
      </tr>
    </thead>
    
    {% block inner_content %}
    
    {% endblock %}
  </table>

    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
</div>
{% endblock %}